:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #545050;
  --color-background: #1b1919;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: var(--color-white);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.content {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result {
  width: 62.3%;
}

.result__video {
  width: 100%;
}

.content__details {
  width: 35%;
}

.content__list {
  height: 298px;
  overflow: auto;
}

.search-form {
  display: flex;
  justify-content: space-between;
}