:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #545050;
  --color-background: #1b1919;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: var(--color-white);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  user-select: none;
}

.button {
  padding: 5px 72px;
  background-color: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid var(--color-white);
  outline-offset: 1px;
}

.more-button {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
}

.result {
  width: 62.4%;
}

.result__video {
  width: 100%;
}

.result__video-container {
  position: relative;
}

.title {
  color: var(--color-white);
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__accent {
  color: var(--color-gray);
}

.content__details {
  width: 35%;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.content__card-link {
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--color-white);
}

.content__card-link:focus-visible {
  outline: 1px solid var(--color-white);
}


.content__card-link_current {
  background-color: var(--color-gray);
  padding: 2px;
}

.content__video-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.content__video-card-description-container {
  width: 51%;
  color: var(--color-white);
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid var(--color-white);
  outline-offset: 2px;
}

.content__video-card:active {
  background-color: var(--color-gray);
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail {
  width: 49%;
  padding: 2px;
}

.search-form {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.search-form__textfield {
  min-width: 225px;
  background-color: transparent;
  border: none;
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  color: rgba(255, 255, 255, 0.70);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield:focus-visible {
  outline-offset: 2px;
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  width: 19px;
  height: 19px;
  border: 1px solid var(--color-white);
  align-items: center;
  justify-content: center;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  user-select: none;
  margin-top: 8px;
  &:has(.search-form__checkbox:checked) {
    .search-form__pseudo-checkbox {
      &::after {
        content: "";
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        background-color: var(--color-white);
      }
    }
  }
}
