:root {
  --text-color: #fff;
  --color-accent: #545050;
  --color-background: #1b1919;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: var(--text-color);
  font-family: "Fira Sans Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  inline-size: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
}

.result {
  width: 62.4%;
}

.result__video-container {
  position: relative;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 3px;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  user-select: none;
  &:focus-visible {
    outline: 1px solid var(--text-color);
    outline-offset: 2px;
  }
  &:has(.search-form__checkbox:checked) {
    .search-form__pseudo-checkbox {
      &::after {
        content: "";
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        background-color: var(--text-color);
      }
    }
  }
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline 1px currentColor;
}

.search-form__label-text {
  text-decoration: underline 1px transparent;
  text-underline-offset: 2px;
  transition: text-decoration 0.3s ease-in-out;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  min-width: 225px;
  background-color: transparent;
  border: none;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
  &:focus-visible {
    outline-offset: 2px;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
  }
  &:focus {
    border: none;
    outline: none;
  }
  &:active {
    outline: 1px solid var(--text-color);
  }
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 4px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  width: 19px;
  height: 19px;
  border: 1px solid var(--text-color);
  align-items: center;
  justify-content: center;
}

.button {
  padding: 6px 72px;
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  font-family: "Fira Sans Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  text-decoration: underline 0px transparent;
  text-underline-offset: 2px;
  transition: text-decoration 0.3s ease-in-out,
    background-color 0.3s ease-in-out;

  &:active {
    background: #545050;
  }

  &:hover {
    text-decoration: underline 1px #fff;
  }

  &:focus-visible {
    outline: 1px solid var(--text-color);
    outline-offset: 1px;
  }

  &:focus {
    outline: none;
  }
}
.more-button {
  width: 100%;
}

.search-form__submit-button {
  min-width: 194px;
}

.content__details {
  width: 35%;
}

.title {
  color: var(--text-color);
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__accent {
  color: var(--color-accent);
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 2px;
    border: 1px solid var(--text-color);
  }

  &::-webkit-scrollbar-track {
    background: #000;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--text-color);
  }
}

.content__card-link {
  display: block;
  padding: 2px;
  margin-bottom: 30px;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--text-color);
  }

  &:focus-visible {
    outline: 1px solid var(--text-color);
  }

  &:focus {
    outline: none;
    border: none;
  }
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-description-container {
  width: 50.13%;
  color: var(--text-color);
}

.content__video-card-title {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.content__video-card-thumbnail {
  width: 48.87%;
  height: 103px;
  object-fit: cover;
}

.content__card-link_current {
  background-color: var(--color-accent);
}